{% extends 'base.html.twig' %}

{% block title %}{{ project is defined ? 'Edit Project' : 'Add Project' }}{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="card shadow-sm" style="width: 600px;">
          <div class="container mt-5">
              <h1 class="text-center mb-4">{{ project is defined ? 'Edit Project' : 'Create New Project' }}</h1>
              <form method="post" action="{{ project is defined ? path('project_edit', { id: project.id }) : path('project_add') }}">
                  <div class="mb-3">
                      <label for="inputName" class="form-label">Name</label>
                      <input
                          type="text"
                          id="inputName"
                          name="name"
                          class="form-control"
                          required
                          value="{{ project is defined ? project.name : '' }}"
                      >
                  </div>
                  {% if project is defined %}
                      <label for="inputDevice" class="form-label">Firmwares</label>
                      <div class="mb-3">
                          {% if project.firmwares is not empty %}
                              <ul class="list-group mt-2">
                                  {% for firmware in project.firmwares %}
                                      <li class="list-group-item">
                                          <a href="{{ path('firmwares_edit', {id: firmware.id, projectId: project.id }) }}" class="btn btn-warning w-100 text-start">
                                              Version: {{ firmware.version }}
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                      </div>
                  {% endif %}
                  <div class="mb-3">
                        <label for="inputDevice" class="form-label">Device</label>
                        <select id="inputDevice" name="device_id" class="form-control" required>
                            <option value="">Select a device</option>
                            {% for device in devices %}
                                <option
                                    value="{{ device.id }}"
                                    {% if project is defined and project.device is defined and project.device.id == device.id %}selected{% endif %}
                                >
                                    {{ device.name }}
                                </option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="mb-3">
                      <label for="inputDescription" class="form-label">Description</label>
                      <textarea
                          id="inputDescription"
                          name="description"
                          rows="5"
                          class="form-control"
                          required
                      >{{ project is defined ? project.description : '' }}</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">
                      {{ project is defined ? 'Save Changes' : 'Add Project' }}
                  </button>
              </form>
              <p class="text-center mt-3">
                  <a href="{{ path('project_list') }}">Back to project's list</a>
              </p>
          </div>
      </div>
  </div>
{% endblock %}
